html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    border:1px solid darkslategrey;
    height: 18px;
    width: 18px;
    
}

.tetromino {
    background-color: white;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.mini-grid div  {
    border:1px solid darkslategrey;
    height: 18px;
    width: 18px;
}

.hold-grid {
    margin-top: 100px;
    margin-left: -80px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.hold-grid div  {
    border:1px solid darkslategrey;
    height: 18px;
    width: 18px;
}
