html, body {
    height: 80%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: black;
}

.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    border:1px solid rgb(39, 39, 39);
    height: 18px;
    width: 18px;
}

.grid div.taken {
    border: 1px solid black;
}


.tetromino {
    background-color: white;
    background-image: url("images/brick\ actual.png");

}

.shadow {
    background-image: url("images/brick\ actual.png");
    opacity: 0.3;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.mini-grid div  {
    border:1px solid rgb(39, 39, 39);
    height: 18px;
    width: 18px;
}

#start-button {
    font-family: verdana;
    font-size: large;
    color: white;
    background-color: rgb(39, 39, 39);
    margin-bottom: 20px;
    margin-left: 40px;
    border: 1px solid rgb(39, 39, 39);
}

#score {
    font-family: verdana;
    font-size: large;
    color: whites;
    background-color: black;
    margin-bottom: 50px;
}


.hold-grid {
    margin-top: 100px;
    margin-left: -80px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.hold-grid div  {
    border:1px solid rgb(39, 39, 39);
    height: 18px;
    width: 18px;
}

h3 {
    font-family: verdana; 
    color: white; 
    font-size: large;
}